<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trello">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application.TrelloApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_trello"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_trello_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Start Activity-->
        <activity android:name=".Activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:host="trello_app.com" />
                <data android:scheme="https" android:host="trello_app.com" />
                <data android:scheme="http" android:host="trello_app.com" />
                <data android:scheme="app" android:host="trello_app.com" />
            </intent-filter>
        </activity>

        <!-- Base Activity-->
        <activity
            android:name=".Activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize">
        </activity>
    </application>

</manifest>